{deps, [{mustache, ".*", {git, "https://github.com/mojombo/mustache.erl.git", "master"}},
        {uuid, ".*", {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}},
        {erlware_commons, ".*", {git, "https://github.com/erlware/erlware_commons.git", "master"}}]}.
{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.
{lib_dirs, ["deps/**/lib"]}.